body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #2d3031, #156de7);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-container {
    background: rgb(19, 137, 234);
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

input {
    width: 90%;
    padding: 8px;
}

button {
    margin-top: 10px;
    padding: 8px 15px;
    cursor: pointer;
}

li {
    list-style: none;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
